
/**** Navbar.js ****/
/*** ①side-menu ***/
.side-menu{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
}

.side-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
}
.side-menu-list button:hover{
    background-color: beige;
    border-radius: 3px;
}
/*** ②nav-header ***/
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.nav-header * {
    margin-right: 10px;
    margin-top: 20px;
}
.burger-menu {
    margin-left: 20px;
}
.login-button {
    display: flex;
    cursor: pointer;
    margin-right: 0;
}
/*** ③nav-logo ***/
.nav-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/*** ④nav-menu-area ***/
.nav-menu-area{
    display: flex;
    justify-content: center;
}
.menu-list{
    display: flex;
    list-style-type: none;
    padding: 20px;
}
.menu-list li a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.search{
    position: absolute;
    right: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
}
.search input{
    border: none;
    margin-left: 5px;
}
.search input:focus {
    outline: none;
}
.hide{
    visibility: hidden;
}

@media screen and (max-width: 63rem){
    .hide{ visibility: visible;}
    .nav-menu-area .menu-list{display: none;}
    .search{display: none;}
}

.card {
    border: none !important;
    margin-bottom: 10px;
}

.card:hover{
    transform: scale(1.1);
}
.product-img{
    display: flex;
    justify-content: flex-end;
}

.dropDown{
    margin-top: 20px;
}

.d-grid{
    margin-top: 20px;
}

